@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Playpen+Sans:wght@100&display=swap');

body {
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Playpen Sans', cursive;
    margin: 0;
    background-image: url('BackgroundLogo.jpg');
    /* You can also set additional properties like background size, repeat, etc. */
    background-size: cover;
    /* Other background properties */
}

h1,
h2 {
    text-align: center;
    color: azure;
}

.input-section {
    /* background-color: bisque; */
    background: linear-gradient(to right, #fce040, #05c091);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 92%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.input-section label {
    font-weight: bold;
    margin-right: 10px;
}

.input-section input[type="number"],
.input-section input[type="date"] {
    padding: 5px;
    margin-right: 10px;
}

.input-section button {
    padding: 5px 10px;
    background-color: #af4c6f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expenses-list {
    margin: 20px;
}

table {
    width: 85%;
    border-collapse: collapse;
    margin: 0 auto;
    opacity: 0.8;
    border-radius: 10px;
    overflow: hidden;
}

td,
th {
    padding: 8px;
    text-align: left;
    color: white;
    font-weight: bolder;
    background-color: #3a3a3d;
}

th {
    /* background-color: #5b4caf; */
    background: linear-gradient(to right, #421cea, #05c0b7);
    color: white;
}

tfoot td {
    font-weight: bold;
}

.delete-btn {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logo-container>img {
    width: 80px;
    height: auto;
}

.download-btn {
    padding: 12px 24px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right, #fc9840, #2f8d04);
    border: none;
    border-radius: 8px;
    margin: 8px auto;
    box-shadow: 0 6px 20px -8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 500ms ease;
    display: block;
    /* Ensure the button takes the full width */
    width: fit-content;
    /* Adjust button width based on content */
    margin-right: 24px;
    /* Move the button away from the right edge */
    margin-left: auto;
}

.download-btn:hover {
    transform: translateY(-4px);
}